footer {
    border-top: solid 1px var(--surface2);
    width: auto;
    padding: 1rem;
    font-size: 0.8rem;
    text-align: center;
}

footer > .escola > p {
    margin: 0;
    padding: 0;
    line-height: 1.25rem;
}
