#introduction > div:nth-child(2) {
    gap: 16px;
    flex-wrap: wrap;
    height: 20rem;
}
.language-card-outside {
    /* border: 1px solid var(--surface1);
    border-radius: 0.5rem;
    background: var(--crust); */
    padding: 0.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
    gap: 0.25rem;
}
.language-card-header {
    display: flex;
    align-items: center;
    gap: 0.30rem;
    font-family: var(--font-family-mono);
}

.language-card-inside {
    background-color: var(--mantle);
    border-radius: 0.5rem;
    gap: 0.5rem;
    padding: 0.5rem;
    margin-top: 0.25rem;
    display: flex;
    /* grid-template-columns: repeat(5, 2.5rem); */
    width: max-content;
    justify-items: center;
    align-items: center;
    justify-content: start;
    align-content: start;
}
.language-card-inside > div > img {
    height: 2.5rem;
    border-radius: 0.5rem;
}
