#introduction > div:nth-child(2) {
    gap: 16px;
    flex-wrap: wrap;
    height: 20rem;
}
.language-card-outside {
    padding: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
    gap: 0.25rem;
    /* From https://css.glass */
    background: rgba(0, 0, 0, 0.32);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.6px);
    -webkit-backdrop-filter: blur(10.6px);
    border: 1px solid rgba(0, 0, 0, 0.39);
}
.language-card-header {
    display: flex;
    align-items: center;
    gap: 0.30rem;
    font-family: var(--font-family-mono);
}

.language-card-inside {
    border-radius: 0.5rem;
    gap: 0.5rem;
    margin-top: 0.5rem;
    display: flex;
    /* grid-template-columns: repeat(5, 2.5rem); */
    width: max-content;
    justify-items: center;
    align-items: center;
    justify-content: start;
    align-content: start;
}
.language-card-inside > div > img {
    height: 2.5rem;
    border-radius: 0.5rem;
}
